$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$charcoal: #36454f;
$greyBlack: #444444;
$whiteSmoke: #fafafa;
$orange: #e15911;
$smoke: rgb(230, 230, 230);

$coral: #f95350;
$golden-yellow: #ffc223;
$cool-green: #2dbe60;
$frog-green: #3fcb06;
$dark-green: #007665;
$dark-sky-blue: #008aed;
$navy: #022239;

// Scale gray
$disabled: #cccccc;
$black: #000;
$dark: #0e1023;
$snow: #fff;
$snow-2: #f9f9f9;
$snow-3: #f4f4f4;
$light-white: #f4f5f8;
$white-2: #f4f4f4;
$grey: #ccc;
$light-grey: #e4e7ea;
$cool-grey: #9da9b3;
$brown-grey: #9b9b9b;
$brown-grey2: #eae9e9;
$greyish-brown: #4b4b4b;
$grey-dark-light: #5c6873;
$silver-cold: #5c6873;
